/* アルファベットを大文字に変換しない */
h1 {
  font-family: "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  text-transform: none;
  font-size: 2rem;  /* rem はルート要素に対する相対サイズ指定 */
}

h2 {
  font-size: 1.5rem;  /* rem はルート要素に対する相対サイズ指定 */
}
